:root {
    --color-green:#00a453;
}
body{
    /*background: peru;*/
    font-family: 'Lato', sans-serif;
}
.main_container{
    margin: 0 auto;
}
.img_airbnb{
    width: 60%;
}
.title_main{
    color: var(--color-green);
    text-decoration: underline;
    font-size: 2rem;
}
.text_presentacion{
    font-size: 1.5rem;
}
